:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --background-accent: #2f303a;
  --title-color: #212121;
  --logo-decoration: #000000;
  --text-description: #757575;
  --white-accent: #ffffff;
  --background-masters: #f5f4fa;
  --footer-link: rgba(255, 255, 255, 0.6);
  --section-pt: 95px;
  --section-pb: 95px;
}
